<div>
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">
                Copyright &copy; MY website <%= new Date().getFullYear() %>
            </p>
        </div>
    </footer>
</div>

<script src="/public/vendor/jquery/jquery.min.js"></script>
<script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<body>
    <html>
        
    </html>
</body>